@model IEnumerable<ManageCaseFour.Models.ApplicationUser>

@{
    ViewBag.Title = "Admin";
}

<head>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
</head>

<h2>ManageCase Administration</h2>

<p> This page is accessible only to administration.</p>

@* send to Register page /Account/Register *@
<div>
    @Html.ActionLink("Create a new User", "Register", "Account") |
</div>
<br />
<br />
@* send to Register page /Account/Register *@

<div>
    @Html.ActionLink("View Audits", "Index", "Audits") |
</div>
<br />
<br />
<h4>USER LIST</h4>
<br />
@*<table class="table">
    <tr>
        <th>
            @Html.Label("User Id")
        </th>
        <th>
            @Html.Label("User Name")
        </th>
        <th>
            @Html.Label("User Email")
        </th>
    </tr>

    @foreach (var userItem in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => userItem.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => userItem.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => userItem.Email)
            </td>
        </tr>

    }*@


    <div>
        <table id="adminTable" class="display"></table>
    </div>

@section Scripts{
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    
    <script>
    $(document).ready(function ()
    {
        $.ajax(
        $("#adminTable").DataTable({
            data: @Html.Raw(Json.Encode(Model)),
            rowHeight: 30,
            autowidth: false,
            columnDefs: [
                { width: "20%", targets: 2 }],
            columns: [
                { data: "Name",
                    title: "Name"},
                { data: "Id",
                    title: "User ID"},
                { data: "UserName",
                    title: "User Name"},
                { data: "Email",
                    title: "Email"},
        ]}))
    })


    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
    }

    </script>




}