<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Acme|Architects+Daughter|Armata|Economica|Kaushan+Script|Permanent+Marker|Trirong" rel="stylesheet">
</head>
<body>
    @*font-family: 'Trirong', serif;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Acme', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Economica', sans-serif;
    font-family: 'Armata', san-serif;*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ManageCase", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:#ffc04d; font-family:Armata, san-serif; font-size:30px" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { @style = "color:white; font-family:Economica, sans-serif; font-size:20px" })</li>
                    <li>@Html.ActionLink("New Case", "Create", "Case", new { @style = "color:white;font-family:Economica, sans-serif; font-size:20px" })</li>
                    <li>@Html.ActionLink("View Records", "Index", "Records", new { @style = "color:white;font-family:Economica, sans-serif; font-size:20px" })</li>
                    <li>@Html.ActionLink("Admin", "Admin", "Home", new { @style = "color:white;font-family:Economica, sans-serif; font-size:20px" })</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

     

        <footer style="margin-top:100vh; bottom:0">
            <p style="color:#ffc04d">&copy; @DateTime.Now.Year Renuka Vishnubhakta</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @section Scripts{
    @*<script>
    //this code from http://stackoverflow.com/questions/13873398/how-to-redirect-to-logon-page-when-session-state-time-out-is-completed-in-asp-net, 10/20/2016
    //session end
    var sessionTimeoutWarning = @Session.Timeout- 1;

    var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
    setTimeout('SessionEnd()', sTimeout);

    function SessionEnd() {
        window.location = "/Account/TimeoutLogOff";
    }
    </script>*@    
    }
</body>
</html>
