@model ManageCaseFour.Models.ClassViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Record</h4>
    <hr />
    <dl class="dl-vertical">
        <dt>
            @Html.DisplayNameFor(model => model.thisCase.caseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thisCase.caseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.record.InternalCaseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.record.InternalCaseNumber)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.record.recordId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.record.recordId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department.departmentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.departmentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facility.facilityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facility.facilityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.record.recordEntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.record.recordEntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.record.provider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.record.provider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.record.serviceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.record.serviceDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
