@model ManageCaseFour.Models.Record

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.internalCaseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.internalCaseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternalCaseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternalCaseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sourceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sourceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.documentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facilityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facilityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recordReferenceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recordReferenceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pageNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pageNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recordEntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recordEntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noteSubjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noteSubjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.history)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.history)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noteObjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noteObjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noteAssessment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noteAssessment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notePlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notePlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medications)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.allergies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allergies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vitalSigns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vitalSigns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fileContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fileContent)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
