@model ManageCaseFour.Models.RecordViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <div>
        <dl class="dl-horizontal">
            <dt>
                Record Id
            </dt>
            <dd>
                @Html.DisplayFor(model => model.record.recordId)
            </dd>
            <br />
            <dt>
                Internal Case Id
            </dt>
            <dd>
                @Html.DisplayFor(model => model.record.internalCaseId)
            </dd>
            <br />
            <dt>
                Department Code
            </dt>
            <dd>
                @Html.DisplayFor(model => model.department.departmentCode)
            </dd>
            <br />
            <dt>
                Facility Name
            </dt>
            <dd>
                @Html.DisplayFor(model => model.facility.facilityName)
            </dd>
            <br />
            <dt>
                Page Number
            </dt>
            <dd>
                @Html.DisplayFor(model => model.record.pageNumber)
            </dd>
            <br />
            <dt>
                Provider
            </dt>
            <dd>
                @Html.DisplayFor(model => model.record.provider)
            </dd>
            <br />
            <dt>
                Memo
            </dt>
            <dd>
                @Html.DisplayFor(model => model.record.memo)
            </dd>
            <br />
            <dt>
                Date of Service
            </dt>
            <dd>
                @Html.DisplayFor(model => model.record.serviceDate)
            </dd>
            <br />
        </dl>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>



