@model ManageCaseFour.Models.RecordViewModel

@{
    ViewBag.Title = "Details";
}

<h2>DETAILS</h2>
<h4>View Record</h4>
<br />

@*<div>
    @Html.DisplayForModel("Record #", recordId)
</div>*@
    <div>
        @Html.ActionLink("Edit this Record", "Edit", new { recordID = Model.record.recordId }) |
        <br />
        <br />
    </div>
    <div>
        @Html.ActionLink("Back to Record List", "Index") |
        <br />
        <br />
    </div>

<div>
    <dl class="dl-horizontal">
        <dt>
            Internal Case Id        
        </dt>
        <dd>
            @Html.DisplayFor(model => model.record.internalCaseId)
        </dd>
        <br />
        <dt>
            Department Code
        </dt>
        <dd>
            @Html.DisplayFor(model => model.department.departmentCode)
        </dd>
        <br />
        <dt>
            Facility Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.facility.facilityName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.record.pageNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.record.pageNumber)
        </dd>
        <br />
        <dt>
            Provider
        </dt>
        <dd>
            @Html.DisplayFor(model => model.record.provider)
        </dd>
        <br />
        <dt>
            Memo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.record.memo)
        </dd>
        <br />
        <dt>
            Date of Service
        </dt>
        <dd>
            @Html.DisplayFor(model => model.record.serviceDate)
        </dd>
        <br />
        <dt>
            Subjective
        </dt>
        <dd>
            @Html.DisplayFor(model => model.record.noteSubjective)
        </dd>
        <br />
        <dt>
            History
        </dt>
        <dd>
            @Html.DisplayFor(model => model.record.history)
        </dd>
        <br />
        <dt>
            Objective
        </dt>
        <dd>
            @Html.DisplayFor(model => model.record.noteObjective)
        </dd>
        <br />
        <dt>
            Assessment
        </dt>
        <dd>
            @Html.DisplayFor(model => model.record.noteAssessment)
        </dd>
        <br />
        <dt>
            Diagnosis/Plan
        </dt>
        <dd>
            @Html.DisplayFor(model => model.record.notePlan)
        </dd>
        <br />
        <dt>
            Medications
        </dt>
        <dd>
            @Html.DisplayFor(model => model.record.medications)
        </dd>
        <br />
        @*<dt>
            Vital Signs
        </dt>
        <dd>
            @Html.DisplayFor(model => model.record.vitalSigns)
        </dd>
        <br />
        <dt>
            Diagnosis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.record.diagnosis)
        </dd>*@
    </dl>
</div>
