@model IEnumerable<ManageCaseFour.Models.Audit>

@{
    ViewBag.Title = "ViewAuditRecords";
}

<head>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    </head>

<h2>AUDITS</h2>
@if (User.Identity.IsAuthenticated)
{

    @*<span>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IPAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaAccessed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeAccessed)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IPAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AreaAccessed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeAccessed)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.AuditID }) |
                    </td>
                </tr>
            }

        </table>
   </span>*@

<div>
    <table id="auditTable" class="display" style ="align-text:center"></table>
</div>
}
@section Scripts{

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

<script>

    $(document).ready(function ()
    {

        $.ajax(
$("#auditTable").DataTable({
    data: @Html.Raw(Json.Encode(Model)),
    rowHeight: 30,
    autowidth: true,
    //columnDefs: [
    //    { width: "25%", targets: 3 }],
    columns: [
        {data: "UserName",
            title: "User"},
        { data: "IPAddress",
            title: "IP Address"},
        {data: "AreaAccessed",
            title: "Area Accessed"},
        { data: "TimeAccessed",
            "render": function (data, type, row) {
                return ToJavaScriptDate(data);},
            title: "Time Accessed"},
    ]
}))
    })


    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
    }


</script>




}
