@model ManageCaseFour.Models.OCR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OCR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.documentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.documentFilename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documentFilename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.documentText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documentText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
