@model ManageCaseFour.Models.OCRViewModel

@{
    ViewBag.Title = "OCR";

}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">

</head>
<body>

<h2>SCAN NEW DOCUMENT</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
    <br />
    <h3>YOUR CURRENT CASE LIST</h3><br/>
<div>
    @Html.ActionLink("Back to Record List", "Index", "Records") |
    <br />
    <br />
</div>
<div>
    @Html.ActionLink("Process New Document Image for OCR", "Index", "OCRs") |
    <br />
    <br />
</div>
<div>
    @Html.ActionLink("Create New Department or Facility", "Add", "Records") |
    <br />
    <br />
</div>
    <div>
        <table id="caseNameTable" class="display"></table>
    </div>

    <div id="msg" style="font-size:large">Loading. . . .</div>
    <div id="OCRfileupload" style="display:none">
        <form id="inputFilenameForm" class="well" action="/OCRs/GetAllFilesText" method="POST">

            <label>For which case would you like to enter a record?  Enter the Case ID.</label>
            <input type="text" id="caseID" name="caseID"><br />
            <label>Enter the group of files that you would like to scan for OCR, </label><p style="font-style: italic">in the order in which you would like to compile the text.</p>
            <input type="text" id="allFilenames" name="allFilenames" AllowMultiple="true"><br /><br/>
            <input type="Submit" id="uploadFileButton">
        </form>

<div>
    <table id="happyTable" class="display" ></table>
</div>

@section Scripts{
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function ()
    {
        $("#OCRfileupload").show();
        $("#msg").hide();
        $.ajax(
$("#caseNameTable").DataTable({
    data: @Html.Raw(Json.Encode(Model.CaseListArray)),
    rowHeight: 30,
    "pageLength": 50,
    autowidth: true,
    //columnDefs: [],
    columns: [
        {data: "caseId",
        title: "Case ID"},
        { data: "caseName",
        title: "Case Name"},
        {data: "caseNumber",
        title: "Case Number"},
        {data: "county",
            title: "County"}
]
}))
        
        $.ajax(
        $("#happyTable").DataTable({
            data: @Html.Raw(Json.Encode(Model.oVModelList)),
            rowHeight: 30,
            autowidth: true,
            "pageLength": 50,
            columnDefs: [
                { width: "20%", targets: 3 }, 
                {targets: 4, render: function ( data, type, row ) {
                    return data.substr( 0, 100 );
                }
                }],
            columns: [
                { data: "caseName",
                    title: "Case Name"},
                { data: "provider", 
                title: "Provider"},
                { data: "serviceDate",
                    "render": function (data, type, row) {
                        return ToJavaScriptDate(data);},
                title: "Date of Service"},
                { data: "documentFilename",
                    title: "File Location"},
                { data: "documentText",
                title: "Text"}]

        }))
    })


    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
    }

    function get_filename(obj) {
        var file = obj.value;
        var allFilenames = allFilenames+","+file;
        alert(allFilenames);
    }

    $.ajax({
        url:"/OCRs/GetAllFilesText",
        data: allFilenames,
    type: "POST",
    success: function(data){
        console.log("yay")
    },
    error: function(passParams){
        console.log("nay")
    }
    });

</script>




}
