@model IEnumerable<ManageCaseFour.Models.Case>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Case ID
        </th>
        <th>
            Case Name
        </th>
        <th>
            County
        </th>
        <th>
            Case Number
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.caseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.caseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.county)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.caseNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.caseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.caseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.caseId })
        </td>
    </tr>
}

</table>
