@model ManageCaseFour.Models.NewCaseViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Case ID
        </th>
        <th>
            Case Name
        </th>
        <th>
            County
        </th>
        <th>
            Case Number
        </th>
        <th>
            Principal
        </th>
        <th>
            Staff
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.CaseLoad) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.newCase.caseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.newCase.caseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.newCase.county)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.newCase.caseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.principal.principalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staff.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.newCase.caseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.newCase.caseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.newCase.caseId })
        </td>
    </tr>
}

</table>
